audio::-webkit-media-controls-panel,
video::-webkit-media-controls-panel {
  background-color: #45474b;
}

body {
  background: black;
}

.audiocontrol {
  border: 5px solid;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
